.container {
    position: relative;
    height: 100%;
    width: 100vw;
    color: white;
}

.title {
    color: white;
    text-align: center;
    padding: 2vh 0 2vh;
    text-shadow: 2px 2px 5px black;
}

input {
    text-align: center;
}

::-webkit-input-placeholder {
    text-align: center;
}

:-moz-placeholder {
    text-align: center;
}