.main {
    background-color: lightgray;
    overflow: auto;
    font-size: large;
}

@media (min-width: 200px) {
    .main {
        margin: 0 5vh;
    }
}

@media (min-width: 576px) { 
    .main {
        width: 40vw;
        font-size: medium;
    }
}

@media (min-width: 768px) { 
    .main {
        width: 25vw;
        font-size: large;
    }
}

@media (min-width: 1200px) { 
    .main {
        width: 20vw;
        font-size: x-large;
    }
}

.not-found {
    text-align: center;
}

#title {
    text-align: center;
    text-shadow: 2px 2px 5px black;
}

#img {
    width: auto;
    max-width: 100%;
    height: auto;
    border-radius: 2vw;
}