.App {
  text-align: center;
  background-color: #343A40;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.parent {
  width: 100%;
  height: 100%;
}

.header-section {
  height: 20vh;
}

.main-section {
  background-color: lightgray;
  padding: 2vh 2vw;
  width: 100%;
  height: 70vh;
  overflow: auto;
}

.footer-section {
  height: 10vh;
}

#shared {
  width: 100%;
  background-color: #343A40;
}

